import { ReactNode } from "react"

export interface Props {
  onClick?: () => void
}

const {{pascalCase name}} = ({ onClick }: Props): ReactNode => <button onClick={onClick}>Click Me</button>

export default {{pascalCase name}}
